.env
*.db
*.sqlite3
*.sqlite3-wal
*.sqlite3-shm
*.bak
*.log
__pycache__/
*.pyc
caddy-data/
caddy-config/
router-panel/data/*.db
router-panel/data/*.sqlite3
router-panel/data/*.sqlite3-wal
router-panel/data/*.sqlite3-shm
wireguard/peer_*/
wireguard/server/privatekey-server
wireguard/server/publickey-server
